#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin-top {
  margin-top: 15px;
}
.input {
  width: 30% !important;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 30px;
  outline: none;
}
.alert-style .alert-wrapper {
  background: #e5e5e5;
}