<ion-header>
  <ion-toolbar>
    <ion-title className="center">
      tru.ID Ionic / Capacitor Plugin
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-item className="center margin-top">
    <ion-input
      value={{phoneNumber}}
      className="input"
      autocapitalize="off"
      type="tel"
      placeholder="Phone Number ex. +4433234454"
      [(ngModel)]="phoneNumber"
    ></ion-input>
  </ion-item>
  <ion-button
    expand="block"
    color="success"
    shape="round"
    (click)="submitHandler()"
  >
    Submit
  </ion-button>
</ion-content>